@model KNB.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid textBlock">
        <div class="row">
            <div class="col">
                <h4>User registration</h4>
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div>@Html.Hidden("returnUrl", ViewBag.returnUrl as string)</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div>@Html.Label("Email address")</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="input-group mb-2 justify-content-center">
                    <div class="input-group-text">E-Mail</div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div>@Html.Label("Password")</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <div class="input-group mb-2 justify-content-center">
                    <div class="input-group-text">Password</div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div>
                    <input type="submit" name="submitButton" value="Log in" class="btn btn-success" />
                </div>
            </div>
        </div>

    </div>
}

